#count {
  background-color: black;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  margin: 20px;
}

#increse {
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 10px;
}
#decrese {
  padding: 10px;
  border-radius: 10px;
  border: none;
}
