* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica neue";
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
  color: white;
}

.card {
  width: 300px;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #333;
}

.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: none;
}

.card p {
  margin: 20px 0px;
}

.card img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}
